[buildout]
extends =
    http://dist.plone.org/release/4.1-latest/versions.cfg

find-links =
    http://dist.plone.org/release/4.1/
    http://dist.plone.org/thirdparty

eggs =
    Pillow
    abstract.widgets.multitree
    my.test.content

parts =
    instance

develop =
    .
    abstract/widgets/multitree/example/my.test.content


[instance]
recipe = plone.recipe.zope2instance
user = admin:admin
http-address = 8080
eggs =
    Plone
    ${buildout:eggs}
zcml =
debug-mode = on
verbose-security = on