div.token-input-dropdown ul li {
    display:block;
}


.overlay .box_buttons {
  text-align:right;
}

#content ul.token-input-list {
  margin-left:0px;
  border: 1px solid #000;
}

#content ul.sources_plain {
  list-style: none;
  margin-left:0px;

}

#content ul.sources_plain li, dl.portlet ul.sources_plain li {
  display: inline;
  margin-right:2em;
}